body, html {
  height: 100vh;
}

body {
  margin:0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: #EDEDEF;
}

li {
  list-style-type: none;
  margin: 0 2vw;
  font-size: 20px;
  font-weight: 700;
}

a {
  text-decoration: none;
  color: #fff;
}

nav {
  width: 100vw;
  height: 56px;
  display: flex;
  align-items: center;
  background-color: #533B6B;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

ul {
  margin: 0;
  padding: 0;
  display: flex;
}

a:hover {
  background-color: #C6E9FF;
}

.content {
  display: flex;
  justify-content: center;
  padding: 24px;

}

@media only screen and (max-width: 500px) {
  nav {
    height: auto;
  }
  /*shows elements in a column*/
  ul {
    flex-direction: column;
  }
  
  /* deletes margin on top or bottom of the a tag*/
  li {
    margin: 0;
  }
 /* makes sure that the a tag will take the entire screen*/
  a {
    display: block;
    padding: 10px;
  }

  .content {
    min-height: auto;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-content: flex-start;
  }
}